@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Red+Hat+Display:wght@600&display=swap');

/* color variables */
:root {
    --black: #000000;
    --gray: #afafaf;
    --light-gray: #f3f3f3;
    --primary-color: #F7922F;
    --trans-black: #00000030;
    --very-trans-black: #00000020;
    --trans-green: #DCFFD380;
    --trans-green-text: #30B900;
    --trans-yellow: #fafd3e67;
    --trans-yellow-text: #46500C;
    --trans-purple: #FFA0FB66;
    --trans-purple-text: #A500F3;
    --trans-primary: #F7922F50;
    --trans-red: #FFD6D6;
    --trans-red-text: #934747;
    --white: #ffffff;
}

[data-theme="dark"] {
    --black: #ffffff;
    --gray: #afafaf;
    --light-gray: #f3f3f3;
    --primary-color: #F7922F;
    --trans-black: #00000030;
    --trans-green: #DCFFD380;
    --trans-green-text: #30B900;
    --trans-yellow: #fafd3e67;
    --trans-yellow-text: #46500C;
    --trans-purple: #FFA0FB66;
    --trans-purple-text: #A500F3;
    --trans-primary: #F7922F50;
    --trans-red: #FFD6D6;
    --trans-red-text: #934747;
    --white: #000000;
}

/* reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: var(--black);
}

html {
    scroll-behavior: smooth;
}

hr {
    background-color: var(--trans-black);
    height: 1px;
}

/* add no_outline class if outline/border is not required */
.no_outline {
    outline: none;
    border: none;
}

/* add no_bg class when background is not required */
.no_bg {
    background-color: transparent;
}

body {
    background-color: var(--white);
}

/* set cursor to pointer for all anchor tag */
a,
button,
a>*,
button>*,
input[type="submit"],
.menu__for-sidebar,
.menu__for-sidebar>*,
.admin_profile_image,
.date_filter_close,
.popper-btn,
.pointer {
    cursor: pointer;
}

/* add shadow class if shadow is needed */
.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* set width to 90px */
.w-90 {
    width: 90px !important;
}

/* set width to fit content */
.w-fit {
    width: fit-content;
}

/* set width to 100% */
.w-full {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.w-32 {
    width: 32% !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

/* set padding 20px */
.p-20 {
    padding: 20px;
}

/* set padding 7px 20px */
.p_7-20 {
    padding: 7px 20px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-5 {
    margin-left: 5px;
}

/* set margin auto */
.margin-auto {
    margin: auto;
}

/* set margin auto from left and right */
.ml-auto {
    margin-left: auto;
    margin-right: auto;
}

/* use border-curve class to set border-radius 5px */
.border-curve {
    border-radius: 5px;
}

/* use border-curve-md class to set border-radius 14px */
.border-curve-md {
    border-radius: 14px;
}

/* use border-curve-lg class to set border-radius 25px */
.border-curve-lg {
    border-radius: 25px;
}

/* common flex box property */
.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

p {
    font-weight: 400;
}

/* add wrap class if flex-wrap wrap is required */
.wrap {
    flex-wrap: wrap;
}

/* add gap class if gap 20px is required */
.gap {
    gap: 20px;
}

/* add items-center class when align-items center is required */
.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

/* add justify-center class when justify-content center is required */
.justify-center {
    justify-content: center;
}

/* add justify-evenly class when justify-content evenly is required */
.justify-evenly {
    justify-content: space-evenly;
}

/* add justify-start class when justify-content flex-start is required */
.justify-start {
    justify-content: flex-start;
}

/* add direction-col class when flex-direction column is required */
.direction-col {
    flex-direction: column;
}

/* add direction-row class when flex-direction row is required */
.direction-row {
    flex-direction: row !important;
}

/* set font-family lexend deca for heading text*/
.heading {
    font-family: 'Oswald', sans-serif;
}

.relative {
    position: relative;
}

/* set font-family poppins for normal text */
body,
.body-text {
    font-family: 'Poppins', sans-serif;

}

.h-100 {
    min-height: 100vh;
}

.h-40 {
    height: 40px !important;
}

.button {
    background-color: var(--primary-color);
    padding: 7px 25px;
    font-size: 1rem;
    min-width: fit-content;
    border: none !important;
    vertical-align: middle;
    outline: 2px solid var(--primary-color);
}

.button.gray {
    background-color: var(--light-gray);
    outline-color: var(--light-gray);
}

.button:hover,
.button:focus {
    outline: 1px solid var(--black);
}

.button:active,
.button.active {
    outline: 2px solid var(--black);
}

/* ============== for index.php =================== */

/* logo */

.nav__btn-back {
    margin-right: 10px;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo span {
    color: var(--primary-color);
}

/* top navigation */
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 10px 20px;
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
}

.top_nav ul li {
    margin: 0 20px;
    font-weight: 600;
}

.top_nav ul li a img,
.top_nav ul li img {
    width: 2rem;
    cursor: pointer;
}

/* for track order drop down */
.tmo {
    font-size: 1rem;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}

.recent_orders {
    font-size: 0.8rem !important;
    font-weight: 400 !important;
}

.recent_orders a {
    display: block;
    margin: 10px 0;
}

.recent_orders a:hover {
    text-decoration: underline;
}

.track_dropdown {
    position: absolute;
    top: 30px;
    right: -50%;
    min-width: fit-content;
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
    display: none;
}

.track_dropdown.visible {
    display: block;
}

.track_dropdown form {
    margin-bottom: 10px;
}

.view_all {
    display: block;
    font-weight: 400;
    padding: 3px !important;
}

/* user profile logout button and cart drop down */
.user_profile_icon_text,
.user_profile_icon {
    border-radius: 50%;
}

.user_profile_icon_text {
    background-color: var(--primary-color);
    height: 35px;
    width: 35px;
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    font-weight: 700;
    user-select: none;
}

/* for time location section */
.time_location_section {
    margin: 60px 40px;
    justify-content: space-evenly;
}

.time_location_section div {
    max-width: 400px;
    text-align: center;
}

/* ================= for checkout / buy page =================== */

.checkout_form {
    width: 400px;
}

.table,
.checkout_table {
    overflow-x: auto;
    white-space: nowrap;
}

.checkout_form input,
.checkout_form button .checkout_form div,
.checkout_form select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.checkout_info h5 {
    margin: 10px 0;
}

.cart_hidden-price {
    display: none;
}

.logout-dropdown,
.cart_dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    min-width: 200px;
    background-color: var(--white);
    display: none;
    z-index: 999;
}

.cart_dropdown {
    right: 20px;
    max-height: 70vh;
    overflow: auto;
}

.logout-dropdown.visible,
.cart_dropdown.visible {
    display: block;
}

/* search form */
.search_form {
    border: 2px solid var(--black);
    height: 40px;
    margin: 0 10px;
    padding: 3px 5px;
}

.search_form #search {
    cursor: text;
    padding: 0 10px;
}

.icon_search {
    width: 25px;
}

/* nav items tooltip */
.nav__tooltip {
    display: none;
    background-color: var(--white);
    padding: 3px 5px;
    border-radius: 3px;
    position: absolute;
    top: 50px;
}

.top_nav ul li:hover .nav__tooltip {
    display: flex;
}

/* for hero slider */
.hero {
    width: 80%;
    max-width: 1600px;
    margin: 40px auto 0 auto;
}

.offer_img {
    width: 100%;
    object-fit: cover;
}

/* main section */
.our_special {
    width: fit-content;
    font-weight: 600;
    margin-bottom: 40px;
}

.main {
    padding: 0 40px;
    margin: 0 auto;
}

.underline {
    margin-top: 3px;
    height: 3px;
    background-color: var(--black);
    width: 90%;
}

.card__food-img {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.food_img {
    width: 100%;
    transition: 0.5s;
}

.food_img:hover {
    transform: scale(1.2);
}

/* card btn container */
.card__btns {
    margin: 10px;
}

.card__btns form,
.card__btns .form {
    flex: 1;
}

.mr-10 {
    margin-right: 10px;
}

/* individual buttons on card */
.card__btn {
    flex: 1;
    width: 100% !important;
}

.card__food-desc,
.card__food-info {
    padding: 5px 15px;
}

.card__food-title {
    font-size: 1.25rem;
}

.card__food-desc {
    font-size: 0.825rem;
}

/* icons inside button on card */
.card__btn img {
    width: 25px;
    height: 30px;
}

/* status or something for card */
.card__tag {
    position: absolute;
    color: var(--black);
    background-color: var(--primary-color);
    transform: rotate(-45deg);
    width: 90px;
    font-size: 0.8rem;
    left: -25px;
    top: 10px;
}

/* newsletter section */
.newsletter {
    background-color: var(--light-gray);
    padding: 40px;
    text-align: center;
}

.newsletter-desc {
    font-size: 0.825rem;
}

.newsletter-form div {
    width: fit-content;
    margin: 0 auto;
    outline: 1px solid var(--gray);
    border: 1px solid var(--gray);
}

.newsletter-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.newsletter-form div input {
    padding: 10px;
}

/* footer for customers */
.footer {
    margin-top: 40px;
    background-color: var(--light-gray);
    padding: 20px 40px;
}

.footer>section,
.footer>div {
    min-width: 300px;
}

.footer .footer_title {
    width: fit-content;
    margin-bottom: 20px;
}

.footer ul li {
    margin-top: 10px;
}

.footer .social img {
    margin: 0 15px;
    width: 30px;
}

.footer .copyright {
    font-size: 0.8rem;
}

.footer_map {
    grid-area: 1 / 3 / span 2 / span 1;
}

.footer_map img {
    width: 100%;
}

.icon_with_text {
    margin: 0 10px;
    width: 20px;
}

.lower_footer {
    flex-grow: 100vw;
}

/* =============== for menu.php ===================*/
.menu_sidebar {
    width: 150px !important;
    text-align: left !important;
}

.menu_filter_icon {
    display: none;
}

.menu_sidebar .form input {
    margin: 10px 0;
}

.menu_sidebar form label {
    font-size: 1rem;
}

.price_filter_form input {
    width: 80%
}

.menu_container {
    padding: 20px 40px;
    margin-left: 150px;
}

/* ===================== for cart ==================== */
.cart_img {
    height: 50px;
    width: 60px !important;
    margin-right: 10px;
}

.cart_item-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--white);
    margin: 0 10px 0 0;
}

.cart_item-btn:last-child {
    margin: 0 0 0 10px;
}

.cart_item-icon {
    width: 12px;
    vertical-align: middle;
}

.cart_content {
    margin: 15px 0;
}

.qty_container {
    margin-top: 10px;
}

.cart_content .title {
    font-size: 1rem;
}

.cart_total {
    font-weight: 700;
}

.cart_content .cart_price,
.cart_content .qty {
    font-size: 0.85rem;
}

.cart_price {
    white-space: nowrap;
}

.cart_qty {
    width: 20px;
    text-align: center;
    font-size: 0.9rem;
}

.close_icon {
    width: 15px !important;
}

/* go to top icon */
.go_top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.go_top img {
    width: 40px;
    opacity: 0.7;
}

.food_categories {
    margin: 0 0 20px 0;
}

.food_category-name {
    font-size: 1rem;
}

.food_category-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.menu_food-card {
    width: 250px;
    height: 350px;
    position: relative;
    padding-bottom: 10px;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__food-img {
    height: 200px;
    width: 100%;
}

.card__food-img img {
    width: 100%;
    height: 98%;
    object-fit: cover;
}

.menu_food-card h2 {
    font-size: 1rem;
}

.menu_food-card .card__food-price {
    font-size: 0.825rem;
}

.menu_food-card .card__btn-text {
    display: none;
}

/*  ================== for login.php =======================*/
.center {
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
}

/* decorate "login instead" text */
.cta {
    color: var(--primary-color);
}

.center h1 {
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}

.center form {
    padding: 0 40px;
}

form .text_field {
    position: relative;
    border-bottom: 2px solid var(--gray);
    margin: 30px 0;
}

.text_field input {
    width: 100%;
    padding: 0 5px;
    font-size: 1rem;
    margin-top: 10px;
}

.text_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--gray);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

/* hide placeholder */
.text_field input::placeholder {
    color: transparent;
}

.text_field input:focus~label,
.text_field input:valid~label,
.text_field input:not(:placeholder-shown)~label {
    top: -5px;
    color: var(--primary-color);
}

.password_toggle_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 25px;
}

.forget_password {
    margin-bottom: 30px !important;
}

.forget_password:hover {
    text-decoration: underline;
}

.verify_resend>* {
    flex: 1;
    margin: 0 10px;
    padding: 0;
    height: 40px;
}

.resend_otp {
    line-height: 40px;
    text-align: center;
}

/* ======================= for admin ===================== */
.menu__for-sidebar {
    height: 30px;
    width: 30px;
    margin-top: 15px;
}

.menu__for-sidebar .bar {
    height: 3px;
    width: 100%;
    background-color: var(--black);
    margin-bottom: 5px;
    transition: 0.5s all;
}

.open .bar2 {
    opacity: 0;
}

.open .bar1 {
    transform: rotate(45deg) translate(11px);
}

.open .bar3 {
    transform: rotate(-45deg) translate(11px);
}

.sidebar {
    background-color: var(--white);
    left: 0;
    padding-top: 90px;
    min-height: 100vh;
    text-align: center;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: 0.5s all;
    width: 100px;
    z-index: 1;
}

.sidebar .dashboard_sidebar_content {
    height: 50px;
    width: 50px;
    margin: 20px auto;
}

/* for sidebar accordion */
.sidebar_accordion {
    position: relative;
}

.sidebar.open .sidebar_accordion.active .sidebar_sub-menu {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.sidebar.open .sidebar_accordion.active .accordion_arrow {
    transform: rotate(90deg);
    transform-origin: center;
}

.sidebar_accordion .sidebar_sub-menu {
    display: none;
    white-space: nowrap;
}

.sidebar_accordion.active .sidebar_sub-menu {
    display: block;
    position: fixed;
    left: 85px;
    top: 150px;
    background-color: var(--white);
}

.sidebar .hide-on-close {
    display: none;
    white-space: nowrap;
    transform-origin: top;
}

.sidebar .dashboard_sidebar_content_img {
    width: 30px;
}

.sidebar .sidebar_accordion.active .dashboard_sidebar_content {
    background-color: var(--trans-primary);
}

.sidebar.open {
    width: 200px;
}

.sidebar.open .dashboard_sidebar_content,
.sidebar_sub-menu li {
    justify-content: space-between;
    padding: 0 5px;
    width: 90%;
}

.sidebar_sub-menu li a {
    display: inline-block;
    padding: 5px;
    width: 95%;
}

.sidebar .dashboard_sidebar_content:hover,
.sidebar_sub-menu li a:hover,
.sidebar.open .dashboard_sidebar_content:hover {
    background-color: var(--trans-black);
}

.sidebar.open .sidebar_accordion.active .dashboard_sidebar_content {
    background-color: var(--trans-primary);
}

.sidebar.open .hide-on-close {
    display: block;
    margin-left: 10px;
}

/* ============== for admin dashboard index.php ================== */
.admin_profile {
    display: none;
    position: absolute;
    right: 20px;
    top: 80px;
    background-color: var(--white);
}

.admin_profile hr {
    margin: 10px;
}

.admin_profile div {
    margin-bottom: 10px;
}

.admin_profile_image {
    width: 40px;
}

.admin_profile_img,
.admin_profile_icon {
    margin-right: 20px;
    z-index: 1;
}

.admin_profile_icon {
    width: 25px !important;
}

.admin_profile_image.open~.admin_profile {
    display: block;
}

.admin_dashboard_stat .card {
    padding: 10px;
    width: 220px;
}

.admin_dashboard_body {
    padding: 40px 40px 40px 140px;
    max-width: 1440px;
}

.small-modal {
    max-width: 400px !important;
}

.date_filter_form_options div {
    margin: 10px 10px 10px 0;
}

.date_filter_form_option-custom {
    display: none;
}

.date_filter_form_option-custom.visible {
    display: flex;
}

/* sidebar sub contents */
.sidebar_sub-menu {
    text-align: left;
    margin-left: 20px;
}

.sidebar_sub-menu li {
    margin-bottom: 10px;
    list-style: inside;
    font-size: 0.9rem;
}

/* for sidebar arrow */
.accordian_arrow {
    width: 20px;
    margin-left: 10px;
}

/* cards */
.admin_dashboard_stat .card h2 {
    font-size: 2rem;
}

.admin_dashboard_stat .card img {
    width: 65px;
}

.admin_dashboard_stat {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 30px;
    justify-content: center;
    grid-template-rows: repeat(3, 110px);
}

/* top selling items */
.top_selling {
    grid-area: 1 / 3 / span 3 / span 1;
    overflow-y: scroll;
}

.top_selling h2 {
    margin-bottom: 20px;
}

.top_selling_item {
    margin-bottom: 20px;
    width: 100%;
}

.top_selling_item_img {
    margin-right: 10px;
    height: 70px;
    width: 80px;
    object-fit: cover;
}

.top_selling_item_name {
    margin-bottom: 10px;
}

/* to make admin dashboard responsive (little bit) */
@media(max-width: 1160px) {
    .card h2 {
        font-size: 2rem;
    }

    .card_icon {
        width: 60px;
    }

    .card {
        width: 180px;
    }
}

@media(max-width: 980px) {
    .admin_dashboard_stat {
        gap: 30px;
        grid-template-columns: repeat(3, auto);
    }

    .top_selling {
        grid-area: 3 / 1 / span 2 / span 3;
    }
}

@media(max-width: 768px) {
    .admin_dashboard_stat {
        gap: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, 90px);
    }

    .top_selling {
        grid-area: 4 / 1 / span 2 / span 2;
    }
}

/* ===================== for admin view order details.php ================== */
.vod_container>* {
    flex: 1;
    min-width: 45%;
    overflow-y: auto;
}

.vod_btns {
    justify-content: end;
}

.vod_btns button {
    font-weight: bold;
}

.table_order-details {
    text-align: left;
}

.table_order-details td {
    padding: 5px 10px;
}

/* select this td if this is the first child of its parent */
.table_order-details td:first-child {
    font-weight: 700;
}

.vod_image-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.vod_food-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive view order details */
@media(max-width: 1320px) {
    .vod_btns {
        justify-content: center;
    }

    .vdo_food-details {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: flex-start;
    }

    .vdo_food-details>* {
        width: 50%;
        height: auto;
    }
}

@media(max-width: 960px) {
    .vod_container {
        flex-direction: column;
        align-items: center;
    }

    .vod_container>* {
        width: 80%;
    }

    .vod_container>* {
        height: fit-content !important;
    }

    .vdo_food-details {
        flex-direction: column;
    }

    .vdo_food-details .vod_image-container {
        width: 100%;
        height: auto;
    }

    .vdo_food-details>* {
        width: 100%;
    }
}

/* ===================== for admin manage food.php ===================== */
.pagination-nums {
    height: 40px;
    text-align: center;
}

.filter-form {
    margin-right: 30px;
}

.table_eye {
    width: 25px;
    padding: 5px 0;
    vertical-align: middle;
}

.table_action_container {
    position: relative;
}

.table_action_options {
    display: none;
    position: absolute;
    background-color: var(--white);
    top: 0;
    width: fit-content;
    right: 105px;
    width: 150px;
    z-index: 10;
}

.table_action_options.long {
    width: 200px !important;
}

.table_action_options.r_80 {
    right: 80px !important;
}

.table_action_options.r_70 {
    right: 70px !important;
}

.table_option-menu.visible~.table_action_options {
    display: block;
}

.table_action_options>div {
    margin: 20px 0;
}

.table_action_options div p {
    font-size: 1rem;
}

.table_action_options div img {
    margin-right: 10px;
    width: 24px;
    height: 20px;
}

#food-options {
    padding-right: 45px;
}

.food-options {
    width: 200px !important;
    margin: 0 20px 20px 0;
}

.food-options input {
    width: 80% !important;
    border: none !important;
    margin: 0 !important;
}

.btn_remove-food-option {
    background-color: var(--primary-color);
    width: 40px !important;
    outline: none !important;
    margin: 0 !important;
}

.btn_remove-food-option img {
    pointer-events: none;
}

.btn_remove-food-option {
    background-color: var(--primary-color);
    width: 40px;
    padding: 15px 10px 10px 10px;
    height: 40px;
}

.food-options {
    background-color: var(--light-gray);
}

.count-top {
    position: absolute;
    top: -12px;
    right: -10px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;
    font-size: 0.8rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.count-top.rect {
    border-radius: 3px;
    top: -25px;
}

/* resuable modal */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--trans-black);
    z-index: 1000;
}

/* for alert dialog on order */
.alert-dialog__actions>button {
    margin: 0 10px;
}

/* for watch js */
.alert-dialog {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--trans-black);
    z-index: 1000;
}

.alert-dialog__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    width: 400px;
    text-align: center;
}

.modal.flex {
    display: flex;
}

/* just for styling */
.not-required {
    visibility: hidden;
}

.warning-no_margin {
    margin: 0 20px 0 0;
}

.modal_form-container {
    width: 90%;
    max-height: 90%;
    max-width: 550px;
    margin: 40px 0;
    overflow: auto;
    background-color: var(--white);
}

.modal_title-container {
    position: relative;
    margin-bottom: 20px;
}

.modal_title-container::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    top: 24px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.modal_form input,
.modal_form select,
.modal_form button,
.uploaded-img-preview,
.modal_form textarea,
.form_input {
    padding: 10px;
    margin: 0 20px 20px 0;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.uploaded-img-preview {
    margin-bottom: 0;
}

.form_add-food label {
    margin-bottom: 3px;
}

.warning {
    font-size: 12px;
}

.row,
.col {
    display: flex;
    justify-content: space-evenly;
}

.col {
    flex-direction: column;
}

.upload-img {
    width: 100px;
    height: 85px;
    object-fit: contain;
}

/* ==================== for employees.php ======================= */
.emp_button-container button {
    margin: 0 5px;
}

.emp_card_container {
    margin-top: 30px;
}

.employee_card {
    height: min-content;
    min-width: 260px;
    flex: 1;
    max-width: 280px;
    position: relative;
}

.emp_card-overlay {
    display: none;
    position: absolute;
    background-color: var(--trans-black);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.employee_card.disabled .emp_card-overlay {
    display: block;
}

.emp_id {
    margin: 10px 0 20px 0;
    color: var(--gray);
}

.employee_card .emp_card_content {
    margin-bottom: 10px;
}

.employee_card div>img {
    width: 20px;
    margin-right: 10px;
}

.emp_name {
    margin-top: 10px;
}

.employee_card div p {
    font-size: 0.9rem;
}

.emp_card_option-menu {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.emp_card_options {
    right: 50px;
    top: 0;
    z-index: 10;
}

.emp_card_options div {
    margin: 15px auto;
}

.emp_card_option-menu.open~.emp_card_options {
    display: block;
}

/* search form to search employees */
.search_form {
    border: 1px solid var(--black);
    padding: 7px 20px;
    transition: 0.3s;
}

.search_form div img {
    width: 20px;
}

/* for kitchen's orders.php */

/* reusable css for table */
table {
    border-collapse: separate;
    border-spacing: 0 10px;
    text-align: center;
    width: 100%;
}

table th {
    font-weight: normal;
}

table tr {
    background-color: var(--white);
}

table tr:hover {
    background-color: var(--trans-black);
}

table tr td,
table tr th {
    padding: 10px 20px;
    width: fit-content;
}

.table_food-img {
    width: 50px;
    height: 40px;
    vertical-align: middle;
}

.table_option-menu {
    transform: rotate(90deg);
    cursor: pointer;
    height: 35px;
    vertical-align: middle;
}

/* ==================== for orders page (kitchen + admin) ====================== */
.pending {
    background-color: var(--trans-red);
    color: var(--trans-red-text);
}

.rejected,
.prepared,
.delivering {
    background-color: var(--light-gray);
}

.accepted {
    background-color: var(--trans-yellow);
    color: var(--trans-yellow-text);
}

.to-deliver {
    background-color: var(--trans-purple);
    color: var(--trans-purple-text);
}

.delivered {
    background-color: var(--trans-green);
    color: var(--trans-green-text);
}

/* for error popup during backend operations */
.error-container {
    background-color: var(--trans-black);
    border-radius: 4px;
    position: fixed;
    right: -100%;
    top: 100px;
    transition: 0.3s all;
    z-index: 1001;
    color: var(--white);
}

.error-container.error {
    background-color: rgb(160, 10, 10);
}

.error-container.success {
    background-color: rgb(10, 160, 10);
}

.error-container.hidden {
    right: -100% !important;
}

.error-container.active {
    right: 40px;
}

.icons {
    height: 60px;
    width: 60px;
    object-fit: contain;
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px;
}

.or .bar {
    width: 50px;
    height: 2px;
    background-color: var(--black);
    margin: 0 5px;
}

/* ==================== for details.php (customers) ================= */
.details_main {
    overflow-x: hidden;
}

pre {
    font-family: "Poppins", sans-serif;
}

.details_container {
    margin: 100px 0 50px;
}

.details_img-container,
.details_right-container {
    width: 40%;
}

.details_img-container img {
    width: 80%;
    object-fit: contain;
}

.details_category {
    color: var(--primary-color);
}

.details_short-desc {
    opacity: 0.8;
}

pre {
    white-space: pre-wrap;
}

.ingredients-font {
    font-size: 1rem;
}

.details_quantity-container button {
    padding: 5px;
}

.details_quantity {
    min-width: 50px;
    max-width: 80px;
    margin: 0 10px;
    font-size: 1rem;
}

.details_add-to-cart button img {
    vertical-align: middle;
}

.details_title {
    font-size: 2rem;
}

.details_description {
    width: 80%;
    margin: auto;
}

/* ============================== privacy policy ======================= */

.privacy_page {
    margin: 40px;
}

.justify-text {
    text-align: justify;
}

.privacy_container {
    width: 60%;
}

.top-foods {
    width: 300px;
}

.privacy-container h1 {
    font-size: 36px;
}

.privacy-container {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.mb-40 {
    margin-bottom: 40px;
}

a .section {
    margin-top: 50px;
}

h2 {
    font-size: 24px;
}

/* ========================= FAQ ==================== */
.faq {
    width: 80%;
    margin: 0 auto;
}

.faq h1,
.yellow-text {
    color: var(--primary-color);
}

.question {
    margin-bottom: 1em;
}

.answer {
    display: none;
    padding: 1em;
    background-color: var(--light-gray);
}

.question h2 {
    cursor: pointer;
}

.question h2:after {
    content: "+";
    float: right;
    color: var(--primary-color);
    font-size: 1.5em;
}

.question.open h2:after {
    content: "-";
    color: var(--primary-color);
}

.question.open .answer {
    display: block;
}

/* ========= customer homepage slider styles customization ============= */
.swiper-button:after {
    color: var(--primary-color);
    font-size: 2rem !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

.swiper-slide {
    padding: 40px;
}

/* ================ checkout confirm page ========================= */
.confirm_card {
    width: 95%;
    max-width: 400px;
    margin: 40px auto;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

/* ====================== employees page ===================== */
.emp_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* ==================== for track order page ================== */
.empty_box {
    width: 80%;
    max-width: 400px;
    margin: auto;
}

#order-search {
    width: fit-content;
}

.track_order_body {
    margin: 40px;
    padding: 10px;
}

.table {
    padding: 5px;
}

.ti_success {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.ti_success.not {
    background-color: var(--light-gray);
}

.ti_success.reject {
    background-color: var(--trans-red-text);
}

.line {
    height: 2px;
    background-color: var(--primary-color);
    width: 100px;
}